@value makerLightGrey, makerLightPink from "../../common/colors.css";

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.input {
  display: none;
}

.button {
  width: 100%;
  background-color: makerLightGrey;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

.button.uploadedButton {
  background-color: makerLightPink;
}

.button:hover {
  opacity: 0.8;
}
