@value makerMerody, makerRed from "../../common/colors.css";

.footer {
  width: 30em;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: makerMerody;
}

.title {
  font-size: 1rem;
  color: makerRed;
}
